<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include('head.ejs') -%>
    <link rel="stylesheet" href=../css/books.css>
    <link rel="stylesheet" href=../css/single-publisher.css>
</head>
<body>
    <%- include('header/header.ejs') %>

    <div class="content">
        <%- include ('content-search.ejs') -%>
        <div class="publisher-title">
            <input type="hidden" id="publisher-id" value="<%= publisher.id %>" >
            <div class="publisher-title-name">
                <p><%= publisher.details.name %></p>
            </div>
            <div class="publisher-title-address">
                <p><%= publisher.details.address %></p>
            </div>
        </div>
        <div class="content-books-container" id="books-container"></div>
    </div>

    <%- include('footer.ejs') -%>
    <script type="module" src="../src/books/fetchingBooks/fetchAllBooksByPublisher.js"></script>
</body>
</html>